/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 18.02.2015, 20:57:30
    Author     : pmi-php06
*/
/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

/* styles */
.header {
    background: #cc3300;
    color: white;
    font: Arial;
    font-weight: bold;
    font-size: 3em;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
.wrap {
    width: 800px; 
    margin: 0 auto;
}
.menu {
   width: 150px;
   float: left;
   padding: 10px;
   background: #ff6633;
   margin-right: 20px;
}
.content {
   padding: 20px;
   margin-left: 170px;
   min-height: 200px;
}
.bottom {
    bottom: 1px;
    background: #cc3300;
    color: white;
    font: Arial;
    font-weight: bold;
    text-align: right;
    padding-bottom: 5px;
    padding-top: 5px;
}
.menu p {
    margin-bottom: 10px;
}
.menu a {
    background: no-repeat 0 0;
    background-image: url(../images/biggrin.gif);
    padding-left: 24px;
}
label {
    width: 70px;
    float: left;
}
#logo {
    position: absolute;
    width: 50px; /* Ширина слоя в пикселах */
    height: 50px; /* Высота слоя в пикселах */
    background-image: url(../images/logo50.png);
    background-position: center center;
    margin-left: -55px;
    }